<head>
  <%- include('../partials/head'); %>
</head>

<h1>salut</h1>
<div>
  <form action="/auth/signup" method="post">
    <label for="firstname">Enter firstname: </label>
    <input id="firstname" type="text" name="firstname" value="">
    <label for="lastname">Enter lastname: </label>
    <input id="lastname" type="text" name="lastname" value="">
    <label for="email">Enter email: </label>
    <input id="email" type="text" name="email" value="">
    <label for="password">Enter password: </label>
    <input id="password" type="text" name="password" value="">
    <input type="submit" value="OK">
  </form>
</div>
